Repository TECH-C-LT/Peace-Net, pull requests merged in 2024-08, with the labels that each got.

#46 Guardian APIの機能実装
  README.md
  apps/api/.dev.vars.example
  apps/api/README.md
  apps/api/package.json
  apps/api/src/config/environment.ts
  apps/api/src/features/guardians/guardian.controller.ts
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardian.service.ts
  apps/api/src/features/guardians/guardian.test.ts
  apps/api/src/features/guardians/guardian.usecase.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  apps/api/src/index.ts
  apps/api/src/libs/openai.ts
  apps/api/test.sh
  apps/api/tsconfig.json
  packages/shared/package.json
  packages/shared/src/core/error.ts
  packages/shared/src/schemas/guardian.ts
  packages/shared/src/types/guardian.ts
  packages/shared/src/utils/error-handler.ts
  packages/shared/src/utils/result.ts
  packages/shared/tsconfig.json
  pnpm-lock.yaml
Labels: 🌐 API, 🚀 Feature

#50 Webの初期設定
  .editorconfig
  .vscode/settings.json
  README.md
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/(playground)/page.tsx
  apps/web/src/app/(main)/dashboard/api-keys/page.tsx
  apps/web/src/app/(main)/dashboard/usage/page.tsx
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/app/(main)/settings/page.tsx
  apps/web/src/app/fonts/GeistMonoVF.woff
  apps/web/src/app/fonts/GeistVF.woff
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/auth/start-button.tsx
  apps/web/src/components/common/responsive-dialog.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/components/navigation/nav-item.tsx
  apps/web/src/hooks/use-media-query.tsx
  apps/web/tailwind.config.ts
  package.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/src/components/magicui/dock.tsx
  packages/ui/src/components/ui/avatar.tsx
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/drawer.tsx
  packages/ui/src/components/ui/separator.tsx
  packages/ui/src/components/ui/tooltip.tsx
  packages/ui/src/globals.css
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  packages/ui/tsconfig.lint.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
Labels: 🕸️ Web

#52 Supabaseの追加
  .env.local.example
  README.md
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/(playground)/page.tsx
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/app/auth/callback/route.ts
  apps/web/src/app/globals.css
  apps/web/src/components/auth/start-button.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/components/navigation/user-icon.tsx
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/middleware.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/middleware.ts
  apps/web/src/server/actions/auth.ts
  package.json
  packages/ui/package.json
  packages/ui/src/components/ui/dropdown-menu.tsx
  packages/ui/src/globals.css
  pnpm-lock.yaml
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20240804100505_create_api_management_tables.sql
  supabase/seed.sql
Labels: 🕸️ Web, 💾 DB

#54 fix: model name
  apps/api/src/features/guardians/guardian.service.ts
Labels: 🌐 API, 🛠️ Fix

#55 Refactor/server GitHub auth
  README.md
  apps/web/package.json
  apps/web/src/components/auth/github.tsx
  apps/web/src/components/auth/start-button.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/components/navigation/user-icon.tsx
  packages/ui/package.json
  packages/ui/src/components/ui/drawer.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🔄 Refactor

#56 feat: test case
  apps/api/helpers.sh
  apps/api/test.sh
Labels: 🌐 API, 🚀 Feature

#58 Refacotor/web auth
  apps/web/src/components/auth/github.tsx
  apps/web/src/components/auth/sign-out-button.tsx
  apps/web/src/components/navigation/user-icon.tsx
  apps/web/src/server/data/user.tsx
Labels: 🕸️ Web

#59 chore: add logger middleware
  apps/api/src/index.ts
  apps/api/test_powershell.ps1
Labels: 🌐 API, 🚀 Feature

#60 chore: add cors
  apps/api/src/index.ts
Labels: 🌐 API, 🚀 Feature

#61 feat: add workflow
  .github/workflows/api-deploy.yaml
Labels: 🔧 CI/CD, 🚀 Feature

#63 fix: deploy workflow
  .github/workflows/api-deploy.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#62 SupabaseクライアントをAPIに追加
  README.md
  apps/api/.dev.vars.example
  apps/api/package.json
  apps/api/src/config/environment.ts
  apps/api/src/libs/supabase.ts
  packages/shared/src/types/database.ts
  pnpm-lock.yaml
  supabase/migrations/20240806095114_remote_schema.sql
  supabase/migrations/20240806095504_add_api_management_tables.sql
  supabase/seed.sql
Labels: 🌐 API, 💾 DB, 🚀 Feature

#65 fix: workflow
  .github/workflows/api-deploy.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#66 fix: workflow
  .github/workflows/api-deploy.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#67 fix: workflow
  .github/workflows/api-deploy.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#68 fix: add main field
  apps/api/wrangler.toml
Labels: 🌐 API, 🛠️ Fix

#64 refactor: remove api path
  apps/api/src/index.ts
Labels: 🌐 API, 🔄 Refactor

#72 refactor: add checkFlagged and createCategories functions
  apps/api/src/features/guardians/guardian.usecase.ts
  apps/api/src/features/guardians/guardian.utils.ts
Labels: 🌐 API, 🔄 Refactor

#74 chore: request path
  apps/api/helpers.sh
Labels: 🌐 API

#75 feat: create simple docs page
  .github/labeler.yml
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/babel.config.js
  apps/docs/blog/2019-05-28-first-blog-post.md
  apps/docs/blog/2019-05-29-long-blog-post.md
  apps/docs/blog/2021-08-01-mdx-blog-post.mdx
  apps/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  apps/docs/blog/2021-08-26-welcome/index.md
  apps/docs/blog/authors.yml
  apps/docs/blog/tags.yml
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/components/HomepageFeatures/styles.module.css
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/index.tsx
  apps/docs/src/pages/markdown-page.md
  apps/docs/src/theme/Footer/index.tsx
  apps/docs/static/.nojekyll
  apps/docs/static/img/docusaurus-social-card.jpg
  apps/docs/static/img/docusaurus.png
  apps/docs/static/img/favicon.ico
  apps/docs/static/img/logo.svg
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Labels: 📚 Docs, 🔧 CI/CD, 🚀 Feature

#77 chore: allow all origin
  apps/api/src/index.ts
Labels: 🌐 API

#79 fix: defamation field
  apps/api/helpers.sh
  packages/shared/src/schemas/guardian.ts
Labels: 🌐 API, 🛠️ Fix

#80 feat: prompt
  apps/api/helpers.sh
  apps/api/src/features/guardians/guardian.service.ts
  apps/api/test.sh
  packages/shared/src/schemas/guardian.ts
Labels: 🌐 API, 🚀 Feature

#82 Feat/api manegient page
  README.md
  apps/web/.env.local.template
  apps/web/package.json
  apps/web/public/file-text.svg
  apps/web/public/globe.svg
  apps/web/public/next.svg
  apps/web/public/peace-net.webp
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/src/app/(main)/components/text.tsx
  apps/web/src/app/(main)/dashboard/api-keys/actions/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/columns.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/data-table.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/index.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/button.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/confirm.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/form.tsx
  apps/web/src/app/(main)/dashboard/api-keys/data/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/page.tsx
  apps/web/src/app/(main)/dashboard/api-keys/schemas/index.ts
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/app/error.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/loading.tsx
  apps/web/src/components/auth/github.tsx
  apps/web/src/components/common/field.tsx
  apps/web/src/components/common/responsive-dialog.tsx
  apps/web/src/components/conform/calender.tsx
  apps/web/src/components/conform/input.tsx
  apps/web/src/components/header/index.tsx
  apps/web/src/components/header/logo.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/components/navigation/nav-item.tsx
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/middleware.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/server/data/user.tsx
  packages/shared/src/utils/date.ts
  packages/ui/package.json
  packages/ui/src/components/ui/calendar.tsx
  packages/ui/src/components/ui/copy-button.tsx
  packages/ui/src/components/ui/form.tsx
  packages/ui/src/components/ui/input.tsx
  packages/ui/src/components/ui/label.tsx
  packages/ui/src/components/ui/popover.tsx
  packages/ui/src/components/ui/scroll-area.tsx
  packages/ui/src/components/ui/skeleton.tsx
  packages/ui/src/components/ui/sonner.tsx
  packages/ui/src/components/ui/table.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#81 chore: replace logo
  apps/docs/docusaurus.config.ts
  apps/docs/src/css/custom.css
  apps/docs/static/img/peacenet.png
Labels: 📚 Docs

#84 refactor: style
  apps/web/src/app/(main)/dashboard/api-keys/actions/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/button.tsx
  packages/ui/package.json
  packages/ui/src/components/ui/alert-dialog.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🔄 Refactor

#85 Chore/pre push
  .husky/pre-push
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  pnpm-lock.yaml
Labels: 📚 Docs

#87 使用回数ページ
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/api-keys/actions/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/button.tsx
  apps/web/src/app/(main)/dashboard/api-keys/page.tsx
  apps/web/src/app/(main)/dashboard/usage/components/plan-request-chart/circular-progress.tsx
  apps/web/src/app/(main)/dashboard/usage/components/plan-request-chart/index.tsx
  apps/web/src/app/(main)/dashboard/usage/components/usage-log-chart/chart.tsx
  apps/web/src/app/(main)/dashboard/usage/components/usage-log-chart/index.tsx
  apps/web/src/app/(main)/dashboard/usage/data/index.ts
  apps/web/src/app/(main)/dashboard/usage/page.tsx
  packages/ui/package.json
  packages/ui/src/components/magicui/circualr-progress.tsx
  packages/ui/src/components/ui/card.tsx
  packages/ui/src/components/ui/chart.tsx
  packages/ui/src/globals.css
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#86 Feat/usage middleware
  apps/api/src/features/apiKeys/apiKey.repository.ts
  apps/api/src/features/apiKeys/apiKey.service.ts
  apps/api/src/features/apiKeys/apiKey.type.ts
  apps/api/src/features/apiKeys/apiKey.usecase.ts
  apps/api/src/features/guardians/guardian.controller.ts
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardian.usecase.ts
  apps/api/src/features/usages/usage.type.ts
  apps/api/src/features/usages/usage.usecase.ts
  apps/api/src/features/userPlans/userPlan.repository.ts
  apps/api/src/features/userPlans/userPlan.service.ts
  apps/api/src/features/userPlans/userPlan.type.ts
  apps/api/src/index.ts
  apps/api/src/middleware/authenticate.middleware.ts
  apps/api/src/middleware/usage.middleware.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/columns.tsx
  packages/shared/src/core/error.ts
  packages/shared/src/types/entities.ts
  packages/shared/src/utils/error-handler.ts
Labels: 🌐 API, 🕸️ Web, 🚀 Feature

#88 fix: loading skelton style
  apps/web/src/app/(main)/dashboard/usage/page.tsx
Labels: 🕸️ Web, 🚀 Feature

#89 Refactor/web
  .vscode/settings.json
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/button.tsx
  apps/web/src/components/common/responsive-dialog.tsx
  apps/web/src/components/common/squircle-button.tsx
  apps/web/src/middleware.ts
  pnpm-lock.yaml
Labels: 🕸️ Web, 🔄 Refactor

#91 🌈 style(web): add card
  apps/web/src/app/(main)/components/text.tsx
  apps/web/src/app/(main)/dashboard/api-keys/page.tsx
  apps/web/src/app/(main)/dashboard/usage/page.tsx
Labels: 🕸️ Web, 🔄 Refactor

#92 Chore/web meta
  apps/web/src/app/apple-icon.png
  apps/web/src/app/favicon.ico
  apps/web/src/app/icon-192x192.png
  apps/web/src/app/icon-512x512.png
  apps/web/src/app/icon.svg
  apps/web/src/app/layout.tsx
  apps/web/src/app/manifest.json
  apps/web/src/app/opengraph-image.png
  apps/web/src/app/twitter-image.png
Labels: 🕸️ Web

#93 ✨ feat(web): analytics
  apps/web/package.json
  apps/web/src/app/layout.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#90 DBへ使用回数の書き込み
  apps/api/src/features/guardians/guardian.controller.ts
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardian.usecase.ts
  apps/api/src/features/usageLogs/usageLog.repository.ts
  apps/api/src/features/usageLogs/usageLog.service.ts
  apps/api/src/features/userPlans/userPlan.repository.ts
  apps/api/src/features/userPlans/userPlan.service.ts
  packages/shared/src/types/guardian.ts
Labels: 🌐 API, 🚀 Feature

#94 Feat/settings page
  apps/web/src/app/(main)/dashboard/usage/page.tsx
  apps/web/src/app/(main)/settings/components/plan/index.tsx
  apps/web/src/app/(main)/settings/components/plan/upgrade-button.tsx
  apps/web/src/app/(main)/settings/data/index.ts
  apps/web/src/app/(main)/settings/page.tsx
  packages/ui/src/components/magicui/shimmer-button.tsx
  packages/ui/tailwind.config.ts
Labels: 🕸️ Web, 🚀 Feature

#95 Feat/api key table actions
  apps/web/src/app/(main)/dashboard/api-keys/actions/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/columns.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/delete-dialog.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/edit-dialog-form.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/edit-dialog.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/index.tsx
  apps/web/src/app/(main)/dashboard/api-keys/data/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/page.tsx
  apps/web/src/app/(main)/dashboard/api-keys/schemas/index.ts
  apps/web/src/components/navigation/index.tsx
Labels: 🕸️ Web, 🚀 Feature

#96 Feat/web sonner
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/api-keys/actions/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/delete-dialog.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/edit-dialog-form.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/button.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/confirm.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/form.tsx
  apps/web/src/app/icon-192x192.png
  apps/web/src/app/icon-512x512.png
  apps/web/src/app/layout.tsx
  apps/web/src/app/manifest.json
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#98 docs: versionning
  apps/docs/docs/overview.md
  apps/docs/docusaurus.config.ts
  apps/docs/src/pages/index.tsx
  apps/docs/versioned_docs/version-1.0.0/intro.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/_category_.json
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/congratulations.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/create-a-blog-post.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/create-a-document.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/create-a-page.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/deploy-your-site.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/markdown-features.mdx
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/_category_.json
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/img/localeDropdown.png
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/manage-docs-versions.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/translate-your-site.md
  apps/docs/versioned_sidebars/version-1.0.0-sidebars.json
  apps/docs/versions.json
Labels: 📚 Docs

#99 Feat/home page
  apps/web/src/app/components/footer-section.tsx
  apps/web/src/app/components/guardian-section.tsx
  apps/web/src/app/components/hero-section.tsx
  apps/web/src/app/components/sunshine-section.tsx
  apps/web/src/app/page.tsx
  packages/ui/src/components/magicui/box-reveal.tsx
  packages/ui/src/components/ui/badge.tsx
Labels: 🕸️ Web, 🚀 Feature

#100 docs: create sidebars
  apps/docs/docs/code-reference/typescript.md
  apps/docs/docs/faq/index.md
  apps/docs/docs/features/guardians.md
  apps/docs/docs/how-to-use/authentication.md
  apps/docs/docs/how-to-use/basic.md
  apps/docs/docs/overview.md
  apps/docs/docs/plan/plan.md
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/src/pages/index.tsx
Labels: 📚 Docs

#101 workflow add releaser
  .github/workflows/release.yaml
Labels: 🔧 CI/CD

#102 fix: workflow
  .github/workflows/release.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#103 fix: typo
  .github/workflows/release.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#105 fix: perm
  .github/workflows/release.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#104 docs: update readme
  README.md
Labels: bump:major

#107 fix: perm
  .github/workflows/release.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#108 release: v1.0.0
  CHANGELOG.md
Labels: bump:major

#109 Chore/remove playgroud
  apps/web/src/app/(main)/dashboard/(playground)/page.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/data-table.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/lib/supabase/middleware.ts
Labels: 🕸️ Web

#110 feat: add sunshine.route
  apps/api/src/features/sunshines/sunshine.route.ts
Labels: 🌐 API, 🚀 Feature

#111 docs: overview
  apps/docs/docs/overview.md
  apps/docs/src/components/HomepageFeatures/index.tsx
Labels: 📚 Docs

#112 docs: basic
  apps/api/test_powershell.ps1
  apps/docs/docs/code-reference/index.md
  apps/docs/docs/code-reference/node-js.md
  apps/docs/docs/how-to-use/basic.md
  apps/docs/sidebars.ts
  apps/docs/static/img/api_key.png
  apps/docs/static/img/create_api_key.png
Labels: 🌐 API, 📚 Docs

#113 Feat/issue 78 controller
  apps/api/src/features/sunshines/sunshine.controller.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  packages/shared/src/schemas/sunshine.ts
  packages/shared/src/types/sunshine.ts
Labels: 🌐 API, 🚀 Feature

#114 Docs/sample code
  apps/docs/docs/code-reference/golang.md
  apps/docs/docs/code-reference/index.md
  apps/docs/docs/code-reference/node-js.md
  apps/docs/sidebars.ts
Labels: 📚 Docs

#115 workflow: deploy ci for docs
  .github/workflows/docs-deploy.yaml
  apps/docs/package.json
  apps/docs/wrangler.toml
Labels: 📚 Docs, 🔧 CI/CD

#116 Feat/issue 78 usecase
  apps/api/src/features/sunshines/sunshine.controller.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  apps/api/src/features/sunshines/sunshine.usecase.ts
  packages/shared/src/schemas/sunshine.ts
  packages/shared/src/types/sunshine.ts
Labels: 🌐 API, 🚀 Feature

#117 Sunshine Service の作成
  apps/api/src/features/guardians/guardian.test.ts
  apps/api/src/features/sunshines/sunshine.controller.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  apps/api/src/features/sunshines/sunshine.service.ts
  apps/api/src/features/sunshines/sunshine.usecase.ts
Labels: 🌐 API, 🚀 Feature, bump:minor

#119 Webのリンクを変更
  apps/web/src/app/components/footer-section.tsx
  apps/web/src/app/components/hero-section.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/lib/config.ts
Labels: 🕸️ Web, 🔄 Refactor

#120 🐞 fix(web): change env
  apps/web/src/lib/config.ts
Labels: 🕸️ Web, 🛠️ Fix

#121 APIのドキュメントリンクを変更
  apps/api/wrangler.toml
Labels: 🌐 API

#122 Sunshine API 使用時に使用回数をカウントする機能の追加
  apps/api/src/features/sunshines/sunshine.controller.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  apps/api/src/features/sunshines/sunshine.usecase.ts
Labels: 🌐 API, 🚀 Feature, bump:minor

#124 Implement UsageFacade for centralized usage tracking
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardian.usecase.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  apps/api/src/features/sunshines/sunshine.usecase.ts
  apps/api/src/features/usages/usage.facade.ts
Labels: 🌐 API, 🚀 Feature

#125 rm: unused files
  apps/docs/blog/2019-05-28-first-blog-post.md
  apps/docs/blog/2019-05-29-long-blog-post.md
  apps/docs/blog/2021-08-01-mdx-blog-post.mdx
  apps/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  apps/docs/blog/2021-08-26-welcome/index.md
  apps/docs/blog/authors.yml
  apps/docs/blog/tags.yml
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/docs/tutorial-extras/img/localeDropdown.png
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/versioned_docs/version-1.0.0/code-reference/golang.md
  apps/docs/versioned_docs/version-1.0.0/code-reference/index.md
  apps/docs/versioned_docs/version-1.0.0/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.0.0/faq/index.md
  apps/docs/versioned_docs/version-1.0.0/features/guardians.md
  apps/docs/versioned_docs/version-1.0.0/how-to-use/authentication.md
  apps/docs/versioned_docs/version-1.0.0/how-to-use/basic.md
  apps/docs/versioned_docs/version-1.0.0/intro.md
  apps/docs/versioned_docs/version-1.0.0/overview.md
  apps/docs/versioned_docs/version-1.0.0/plan/plan.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/_category_.json
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/congratulations.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/create-a-blog-post.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/create-a-document.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/create-a-page.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/deploy-your-site.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-basics/markdown-features.mdx
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/_category_.json
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/img/docsVersionDropdown.png
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/img/localeDropdown.png
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/manage-docs-versions.md
  apps/docs/versioned_docs/version-1.0.0/tutorial-extras/translate-your-site.md
  apps/docs/versioned_sidebars/version-1.0.0-sidebars.json
Labels: 📚 Docs, 🔄 Refactor

#126 docs: add plan
  apps/docs/docs/how-to-use/authentication.md
  apps/docs/docs/plan/plan.md
  apps/docs/sidebars.ts
Labels: 📚 Docs

#127 Refactor/docs md to mdx
  apps/docs/docs/features/guardian.mdx
  apps/docs/docs/features/guardians.md
  apps/docs/docs/features/sunshine.mdx
  apps/docs/docs/how-to-use/basic.mdx
  apps/docs/docs/overview.md
  apps/docs/docs/overview.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/package.json
  apps/docs/sidebars.ts
  pnpm-lock.yaml
Labels: 📚 Docs, 🔄 Refactor

#128 Docs/top image
  .github/workflows/docs-deploy.yaml
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/static/img/ai.svg
  apps/docs/static/img/peace.svg
Labels: 📚 Docs, 🔧 CI/CD

#129 Chore/web linter
  apps/web/.eslintrc.js
  apps/web/.eslintrc.json
  apps/web/src/app/(main)/dashboard/api-keys/actions/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/columns.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/data-table.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/delete-dialog.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/edit-dialog-form.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/edit-dialog.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/api-key-table/index.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/button.tsx
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/form.tsx
  apps/web/src/app/(main)/dashboard/api-keys/data/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/page.tsx
  apps/web/src/app/(main)/dashboard/usage/components/plan-request-chart/index.tsx
  apps/web/src/app/(main)/dashboard/usage/components/usage-log-chart/chart.tsx
  apps/web/src/app/(main)/dashboard/usage/components/usage-log-chart/index.tsx
  apps/web/src/app/(main)/dashboard/usage/page.tsx
  apps/web/src/app/(main)/settings/components/plan/upgrade-button.tsx
  apps/web/src/app/(main)/settings/page.tsx
  apps/web/src/app/auth/callback/route.ts
  apps/web/src/app/components/footer-section.tsx
  apps/web/src/app/components/hero-section.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/auth/github.tsx
  apps/web/src/components/auth/sign-out-button.tsx
  apps/web/src/components/common/responsive-dialog.tsx
  apps/web/src/components/conform/calender.tsx
  apps/web/src/components/conform/input.tsx
  apps/web/src/components/header/index.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/components/navigation/nav-item.tsx
  apps/web/src/components/navigation/user-icon.tsx
  apps/web/src/lib/supabase/client.ts
  apps/web/src/lib/supabase/middleware.ts
  apps/web/src/lib/supabase/server.ts
  apps/web/src/middleware.ts
  packages/eslint-config/next.js
Labels: 🕸️ Web

#130 fix: moving guardian to sunshine link
  apps/docs/sidebars.ts
Labels: 📚 Docs, 🛠️ Fix

#131 fix: workflow
  .github/workflows/docs-deploy.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#132 docs: sdk go
  apps/docs/docs/code-reference/sdk/golang.md
  apps/docs/sidebars.ts
Labels: 📚 Docs

#133 APIのエラーレスポンスにstatusを追加
  packages/shared/src/utils/error-handler.ts
Labels: 🚀 Feature

#134 デフォルトのしきい値を設定
  apps/api/src/features/guardians/guardian.usecase.ts
Labels: 🌐 API, 🛠️ Fix, bump:patch

#135 エラーページ
  apps/docs/docs/errors/index.mdx
  apps/docs/docs/faq/index.md
  apps/docs/sidebars.ts
  apps/docs/src/css/custom.css
Labels: 📚 Docs, 🚀 Feature

#137 docs: sunshine
  apps/docs/docs/features/sunshine.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/static/img/undraw_docusaurus_mountain.svg
  apps/docs/static/img/undraw_docusaurus_react.svg
  apps/docs/static/img/undraw_docusaurus_tree.svg
  apps/docs/static/img/world.svg
Labels: 📚 Docs

#139 🐳 chore(api): update docs url
  apps/api/wrangler.toml
Labels: 🌐 API

#141 docs: fix plan limit
  apps/docs/docs/plan/plan.md
Labels: 📚 Docs

#150 add playground
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/index.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/result-syntax.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/page.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/index.ts
  apps/web/src/app/(main)/dashboard/api-keys/components/generate-api-key/form.tsx
  apps/web/src/app/error.tsx
  apps/web/src/components/common/field.tsx
  apps/web/src/components/conform/radio-group.tsx
  apps/web/src/components/conform/slider.tsx
  apps/web/src/components/conform/textarea.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/lib/config.ts
  packages/ui/package.json
  packages/ui/src/components/ui/command.tsx
  packages/ui/src/components/ui/radio-group.tsx
  packages/ui/src/components/ui/select.tsx
  packages/ui/src/components/ui/slider.tsx
  packages/ui/src/components/ui/textarea.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#147 Chore/assets
  README.md
  assets/certificate.png
  assets/peace net_発表資料.pdf
  assets/【技育CAMPハッカソンVol.12】優秀賞_peace net.pdf
Labels: 🔍 Other

#151 🐞 fix(web): change api url
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/index.ts
  apps/web/src/lib/config.ts
Labels: 🕸️ Web, 🛠️ Fix

#154 web小修正
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/lib/supabase/middleware.ts
Labels: 🕸️ Web, 🔄 Refactor

#153 ホームページ変更
  apps/web/package.json
  apps/web/src/app/(main)/layout.tsx
  apps/web/src/app/components/beam.tsx
  apps/web/src/app/components/footer-section.tsx
  apps/web/src/app/components/guardian-section.tsx
  apps/web/src/app/components/hero-section.tsx
  apps/web/src/app/components/hero.tsx
  apps/web/src/app/components/scan-text.tsx
  apps/web/src/app/components/sunshine-section.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/auth/start-button.tsx
  apps/web/src/components/common/responsive-dialog.tsx
  apps/web/src/components/header/index.tsx
  apps/web/src/lib/config.ts
  packages/ui/src/components/magicui/animated-beam.tsx
  packages/ui/src/components/magicui/bento-grid.tsx
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Labels: 🕸️ Web, 🔄 Refactor

#155 🌈 style(web): change web hero style
  apps/web/src/app/components/beam.tsx
  apps/web/src/app/components/hero.tsx
  apps/web/src/app/components/scan-text.tsx
  apps/web/src/app/page.tsx
Labels: 🕸️ Web, 🔄 Refactor

#162 chore(api): update dependencies to latest versions
  apps/api/package.json
  pnpm-lock.yaml
Labels: 🌐 API

#160 feat: enforce pnpm usage with preinstall script
  package.json
Labels: 🚀 Feature

#161 refactor(api): update error message
  packages/shared/src/utils/error-handler.ts
Labels: 🔄 Refactor

#163 匿名ログイン
  apps/web/src/components/auth/anonymously.tsx
  apps/web/src/components/auth/start-button.tsx
  apps/web/src/components/header/actions/index.ts
  apps/web/src/components/header/github.tsx
  apps/web/src/components/header/index.tsx
  apps/web/src/components/navigation/index.tsx
  apps/web/src/components/navigation/user-icon.tsx
  apps/web/src/lib/supabase/middleware.ts
  apps/web/src/server/actions/auth.ts
Labels: 🕸️ Web, 🚀 Feature

#164 workflow: discord notify
  .github/workflows/pr-notify.yaml
Labels: 🔧 CI/CD

#165 fix: workflow
  .github/workflows/pr-notify.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#170 Fix/workflow exclude vercel comment
  .github/workflows/pr-notify.yaml
Labels: 🔧 CI/CD, 🛠️ Fix

#173 fix: fmt
  .github/workflows/pr-notify.yaml
Labels: 🔧 CI/CD

#174 chore: add CODEOWNERS file for automatic review assignment
  .github/CODEOWNERS
Labels: 🔧 CI/CD

#176 Playgroundに使用回数カウントを追加
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/index.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/components/limit-reached-dialog.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/index.ts
  packages/shared/src/types/database.ts
Labels: 🕸️ Web, 🚀 Feature, bump:minor

#186 Guardian APIにAIのモデルを選択できるオプションを追加
  apps/api/package.json
  apps/api/src/config/environment.ts
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardian.service.ts
  apps/api/src/features/guardians/guardian.usecase.ts
  apps/api/src/libs/anthropic.ts
  apps/api/src/libs/google.ts
  packages/shared/src/schemas/guardian.ts
  packages/shared/src/types/guardian.ts
  pnpm-lock.yaml
Labels: 🌐 API, 🚀 Feature, bump:minor

#189 playgroundで閾値がどの程度から判定するのか表示する
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/score-threshold-description.tsx
Labels: 🕸️ Web, 🚀 Feature

#192 metadataを追加
  apps/web/src/app/icon.png
  apps/web/src/app/layout.tsx
  apps/web/src/app/manifest.json
Labels: 🕸️ Web

#194 Refactor/api error handring
  apps/api/package.json
  apps/api/src/features/guardians/guardian.controller.ts
  apps/api/src/features/guardians/guardian.service.ts
  apps/api/src/features/sunshines/sunshine.controller.ts
  apps/api/src/features/sunshines/sunshine.service.ts
  apps/api/src/middleware/authenticate.middleware.ts
  apps/api/src/middleware/usage.middleware.ts
  packages/shared/package.json
  pnpm-lock.yaml
Labels: 🌐 API, 🔄 Refactor

#191 しきい値を`0-1`から`0.1-1`に変更
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/score-threshold-description.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/index.ts
  packages/shared/src/schemas/guardian.ts
Labels: 🕸️ Web, 🔄 Refactor, bump:patch

#198 Chore/domain
  apps/api/wrangler.toml
  apps/docs/docs/code-reference/golang.md
  apps/docs/docs/code-reference/node-js.md
  apps/docs/docs/features/guardian.mdx
  apps/docs/docs/features/sunshine.mdx
  apps/docs/docs/how-to-use/basic.mdx
  apps/docs/docs/overview.mdx
  apps/docs/docs/quick-start.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/versioned_docs/version-1.0.0/code-reference/golang.md
  apps/docs/versioned_docs/version-1.0.0/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.0.0/how-to-use/basic.md
  apps/docs/versioned_docs/version-1.0.0/overview.md
  apps/docs/versioned_docs/version-1.1.0/code-reference/golang.md
  apps/docs/versioned_docs/version-1.1.0/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.1.0/features/guardian.mdx
  apps/docs/versioned_docs/version-1.1.0/how-to-use/basic.mdx
  apps/docs/versioned_docs/version-1.1.0/overview.mdx
  apps/docs/versioned_docs/version-1.2.0/code-reference/golang.md
  apps/docs/versioned_docs/version-1.2.0/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.2.0/features/guardian.mdx
  apps/docs/versioned_docs/version-1.2.0/features/sunshine.mdx
  apps/docs/versioned_docs/version-1.2.0/how-to-use/basic.mdx
  apps/docs/versioned_docs/version-1.2.0/overview.mdx
  apps/docs/versioned_docs/version-1.2.1/code-reference/golang.md
  apps/docs/versioned_docs/version-1.2.1/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.2.1/features/guardian.mdx
  apps/docs/versioned_docs/version-1.2.1/features/sunshine.mdx
  apps/docs/versioned_docs/version-1.2.1/how-to-use/basic.mdx
  apps/docs/versioned_docs/version-1.2.1/overview.mdx
  apps/docs/versioned_docs/version-1.3.0/code-reference/golang.md
  apps/docs/versioned_docs/version-1.3.0/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.3.0/features/guardian.mdx
  apps/docs/versioned_docs/version-1.3.0/features/sunshine.mdx
  apps/docs/versioned_docs/version-1.3.0/how-to-use/basic.mdx
  apps/docs/versioned_docs/version-1.3.0/overview.mdx
  apps/docs/versioned_docs/version-1.3.0/quick-start.mdx
  apps/docs/versioned_docs/version-1.4.1/code-reference/golang.md
  apps/docs/versioned_docs/version-1.4.1/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.4.1/features/guardian.mdx
  apps/docs/versioned_docs/version-1.4.1/features/sunshine.mdx
  apps/docs/versioned_docs/version-1.4.1/how-to-use/basic.mdx
  apps/docs/versioned_docs/version-1.4.1/overview.mdx
  apps/docs/versioned_docs/version-1.4.1/quick-start.mdx
Labels: 🌐 API, 📚 Docs

#201 playgroudにモデル選択を追加
  apps/web/package.json
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/index.ts
  apps/web/src/components/conform/select.tsx
  packages/ui/src/components/ui/select.tsx
  pnpm-lock.yaml
Labels: 🕸️ Web, 🚀 Feature

#200 issue template
  .github/ISSUE_TEMPLATE/bug_report.yaml
  fearture_request.yaml
Labels: 🔧 CI/CD

#203 feat: add renovate.json
  .github/renovate.json
Labels: 🔧 CI/CD, 🚀 Feature
