Repository TECH-C-LT/Peace-Net, pull requests merged in 2024-09, with the labels that each got.

#206 Fix/renovate json syntax
  .github/renovate.json
Labels: 🔧 CI/CD, 🛠️ Fix

#212 Update renovate.json
  .github/renovate.json
Labels: 🔧 CI/CD

#213 fix: renovate
  .github/renovate.json
Labels: 🔧 CI/CD, 🛠️ Fix

#227 feature/add guardian image api
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardianImage.controller.ts
  apps/api/src/features/guardians/guardianImage.service.ts
  apps/api/src/features/guardians/guardianImage.usecase.ts
  apps/api/src/features/guardians/guardianText.controller.ts
  apps/api/src/features/guardians/guardianText.service.ts
  apps/api/src/features/guardians/guardianText.usecase.ts
  packages/shared/src/schemas/guardian.ts
  packages/shared/src/types/guardian.ts
Labels: 🌐 API, 🚀 Feature

#229 Guardian APIの画像のドキュメント
  apps/docs/docs/features/guardian.mdx
Labels: 📚 Docs, 🚀 Feature

#226 guardian image
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardianImage.controller.ts
  apps/api/src/features/guardians/guardianImage.service.ts
  apps/api/src/features/guardians/guardianImage.usecase.ts
  apps/api/src/features/guardians/guardianText.controller.ts
  apps/api/src/features/guardians/guardianText.service.ts
  apps/api/src/features/guardians/guardianText.usecase.ts
  apps/docs/docs/features/guardian.mdx
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/guardian-image.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/guardian-text.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/index.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/actions/sunshine.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/components/form/guardian-image.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/form/guardian-text.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/form/sunshine.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/playground-form.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/result-syntax.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/components/submit-button.tsx
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/guardian.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/index.ts
  apps/web/src/app/(main)/dashboard/(palygroud)/schemas/sunshine.ts
  packages/shared/src/schemas/guardian.ts
  packages/shared/src/types/guardian.ts
Labels: 🌐 API, 🕸️ Web, 📚 Docs, 🚀 Feature, bump:minor

#249 画像対応に関連する文章の変更
  README.md
  apps/api/src/features/guardians/guardianImage.service.ts
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/web/src/app/page.tsx
Labels: 🌐 API, 🕸️ Web, 📚 Docs

#274 refactor: add document link to limit dialog
  apps/web/src/app/(main)/dashboard/(palygroud)/components/limit-reached-dialog.tsx
Labels: 🕸️ Web, 🔄 Refactor

#288 chore: rm workflow
  .github/workflows/pr-notify.yaml
Labels: 🔧 CI/CD

#287 feat: wrangler logs enable
  apps/api/package.json
  apps/api/wrangler.toml
  pnpm-lock.yaml
Labels: 🌐 API, 🚀 Feature
