Repository TECH-C-LT/Peace-Net, pull requests merged in 2024-10, with the labels that each got.

#314 DocsにPrism APIを追加
  apps/docs/docs/features/prism.mdx
  apps/docs/docusaurus.config.ts
  apps/docs/sidebars.ts
  apps/docs/versioned_docs/version-1.5.0/code-reference/golang.md
  apps/docs/versioned_docs/version-1.5.0/code-reference/index.md
  apps/docs/versioned_docs/version-1.5.0/code-reference/node-js.md
  apps/docs/versioned_docs/version-1.5.0/code-reference/sdk/golang.md
  apps/docs/versioned_docs/version-1.5.0/errors/index.mdx
  apps/docs/versioned_docs/version-1.5.0/features/guardian.mdx
  apps/docs/versioned_docs/version-1.5.0/features/sunshine.mdx
  apps/docs/versioned_docs/version-1.5.0/how-to-use/basic.mdx
  apps/docs/versioned_docs/version-1.5.0/overview.mdx
  apps/docs/versioned_docs/version-1.5.0/plan/plan.md
  apps/docs/versioned_docs/version-1.5.0/quick-start.mdx
  apps/docs/versioned_sidebars/version-1.5.0-sidebars.json
  apps/docs/versions.json
Labels: 📚 Docs, 🚀 Feature

#327 chore: prism prompt
  apps/api/src/features/prisms/prism.service.ts
  apps/api/src/features/prisms/prism.sh
Labels: 🌐 API, bump:patch

#337 chore: update .dev.vars.example
  apps/api/.dev.vars.example
Labels: 🌐 API

#338 feat: custom logger in prism
  apps/api/package.json
  apps/api/src/features/prisms/prism.controller.ts
  apps/api/src/features/prisms/prism.route.ts
  apps/api/src/index.ts
  pnpm-lock.yaml
Labels: 🌐 API, 🚀 Feature

#342 refactor: log fmt
  apps/api/src/features/prisms/prism.controller.ts
  apps/api/src/features/prisms/prism.route.ts
  apps/api/src/index.ts
  apps/api/src/libs/logger.ts
  pnpm-lock.yaml
Labels: 🌐 API, 🔄 Refactor

#344 chore: guardian log
  apps/api/src/features/guardians/guardian.route.ts
  apps/api/src/features/guardians/guardianImage.controller.ts
  apps/api/src/features/guardians/guardianText.controller.ts
  apps/api/src/libs/logger.ts
Labels: 🌐 API

#345 chore: sunshine log
  apps/api/src/features/sunshines/sunshine.controller.ts
  apps/api/src/features/sunshines/sunshine.route.ts
  apps/api/src/libs/logger.ts
Labels: 🌐 API
